* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    padding: 40px;
    line-height: 1.6;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-size: 18px;
}

.nav-links a:hover {
    color: blue;
    opacity: 0.8;
    transition: 0.3s;
}

.logo img {
    height: 24px;
    width: auto;
}

.logo img:hover {
    opacity: 0.8;
    transition: 0.3s;
}